pkgbase = gotop-bin
	pkgdesc = A terminal based graphical activity monitor inspired by gtop and vtop
	pkgver = 4.0.1
	pkgrel = 1
	url = https://github.com/xxxserxxx/gotop
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = AGPL3
	depends = glibc
	provides = gotop
	conflicts = gotop
	source_x86_64 = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_amd64.tgz
	md5sums_x86_64 = 7a6752cc71641d7fad0e0b007a8b6e04
	source_i686 = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_386.tgz
	md5sums_i686 = a4f42c63b25eb6f1d46e677385b37392
	source_arm = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_arm5.tgz
	md5sums_arm = 9b532b8866a7d66de1be4705d95245df
	source_armv6h = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_arm6.tgz
	md5sums_armv6h = 4410a37763d562214a44078dd011349e
	source_armv7h = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_arm7.tgz
	md5sums_armv7h = b578ac923142c0cbbac0d072bc93e49f
	source_aarch64 = https://github.com/xxxserxxx/gotop/releases/download/v4.0.1/gotop_v4.0.1_linux_arm64.tgz
	md5sums_aarch64 = a83f09721e72f5306f919160f7aeffb3

pkgname = gotop-bin

